@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E2D8A5 !important;
    color: #363636;
}

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: #1F0049;
}

.logo {
  height: 120px;
}

#conteudo {
  min-height: calc(100vh - 240px);
}

h1 {
    font-family: 'Playfair Display', serif;
    padding-top: 58px;
    font-size: 36px;
    font-weight: 400;
    color:  #1F0049;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    padding-bottom: 12px;
    font-weight: 400;
    color: #6F9F9C;
}

#rodape {
    width: 100%;
    padding-top: 45px;
    height: 120px;
    background-color: #1F0049;
    color: #ffffff;
    font-size: 1.25em;
}
