@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E2D8A5;
  color: #363636;
}

ul > li {
    list-style-type: none;
    margin-left: 30px;
}

ol > li {
    margin-left: 30px;
}

.container {
  width: 1140px;
  display: block;
  margin: auto;
}

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: #1F0049;
}

.logo {
  height: 120px;
}

h1 {
  font-family: 'Playfair Display', serif;
  padding-top: 58px;
  padding-bottom: 18px;
  font-size: 36px;
  font-weight: 400;
  color:  #1F0049;
}

.listas {
  color: orange;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  color: green;
}

.lista-eventos {
  display: flex;
}

img {
  width: 200px;
  height: 160px;
}


