@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E2D8A5;
  color: #363636;
}

ul > li {
    list-style-type: none;
    margin-left: 30px;
}

ol > li {
    margin-left: 30px;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  display: block;
  margin: auto;
}

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: #1F0049;
}

.logo {
  height: 120px;
}

h1 {
  font-family: 'Playfair Display', serif;
  padding-top: 58px;
  font-size: 36px;
  font-weight: 400;
  color:  #1F0049;
}

.slogan {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 2em; /* dobro da altura da fonte */
  color: #6F9F9C;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  padding: 12px 0 12px 0;
  font-weight: 400;
  color: #6F9F9C;
}

.lista-eventos {
  display: flex;
  flex-direction: row;
  /*  PRATICANDO FLEXBOX */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  gap: 10px;
  padding: 20px 0 40px 0;
}

.lista-eventos li {
  width: 360px;
  min-height: 320px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.lista-eventos li:first-child {
  background-color: gold;
}

.lista-eventos h3 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  padding: 15px 15px 0 15px;
  font-weight: 300;
  line-height: 150%; /* com porcentagem também funciona */
}

.lista-eventos img {
  padding: 15px;
  width: calc(100% - 30px); /* o calc serve para fazer calculos matemáticos de valores */
}

.lista-eventos button {
  margin: 15px;
  width: calc(100% - 30px);
  height: 36px;
  background-color: #1F0049;
  color: white;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.lista-eventos button:hover {
  background-color: #6F9F9C;
}

.enquete {
  display: flex;
  gap: 10px;
  padding-bottom: 80px;
}

.resultados {
  width: 50%;
  min-height: 200px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}


