@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1C1C1C;
  background-image: url(../img/fundo-site.jpg);
  color: white;
}

ul > li {
    list-style-type: none;
    margin-left: 30px;
}

ol > li {
    margin-left: 30px;
}

#cabecalho {
    width: 100%;
    height: 80px;
    background-color: #1B1B1B;
}

#titulo {
  font-family: 'Playfair Display', serif;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 400;
  color:  #E4E4DE;
}

.listas {
  color: orange;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  color: green;
}

img {
  width: 200px;
  height: 160px;
}


